@import "./utils/normalize";
@import "./utils/variables";
@import "./utils/placeholders";
@import "./base/base";
@import "./base/container";
@import "./components/modal-btn";
@import "./components/modal-window";
@import "./components/subtitle";
@import "./components/caption";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/about-us";
@import "./layout/what-are-we-doing";
@import "./layout/our-team";
@import "./layout/customers";
@import "./layout/footer";
