/* постоянные клиенты */

.customers{
    padding-top: 60px;
    padding-bottom: 60px;
}

.subtitle{
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.customer{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        border: 1px solid $acent-color;
    }

    &:hover .customer-svg,
    &:focus .customer-svg{
        fill: $acent-color;
    }
}

.customer-svg{
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-1{
    width: 44.27px;
    height: 49.23px;
}

.logo-2{
    width: 40px;
    height: 52px;
}

.logo-3{
    width: 41px;
    height: 42.6px;
}

.logo-4{
    width: 79.66px;
    height: 42.02px;
}

.logo-5{
    width: 59px;
    height: 47px;
}

.logo-6{
    width: 88.48px;
    height: 45.44px;
}

@media screen and (max-width: 767px){

    .customers-list{
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    
    .customers-list-item{
        margin: 15px;
        flex-basis: calc((100% - 60px) / 2);
    }

    .customer{   
        width: 210px;
        height: 90px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .customers-list{
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    
    .customers-list-item{
        margin: 15px;
        flex-basis: calc((100% - 90px) / 3);
    }

    .customer{   
        width: 226px;
        height: 90px;
    }
}

@media screen and (min-width: 1200px){
    .customers{
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .subtitle{
        font-size: 36px;
        margin-top: 0px;
        margin-bottom: 50px;
    }

    .customers-list{
        display: flex;
        justify-content: center;
    }

    .customers-list-item:not(:last-child){
        margin-right: 30px;
    }

    .customer{   
        width: 170px;
        height: 90px;
    }

}





