/* МОДАЛЬНОЕ ОКНО */

// .backdrop{
//     position: fixed;
//     left: 0;
//     top: 0;
//     z-index: 100;

//     display: flex;
//     justify-content: center;
//     align-items: center;

//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.2);

// }

// .modal-form{
//     position: relative;
//     width: 528px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     background-color: $white-color;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 4px;
// }

// .modal-form-tittle{
//     font-weight: bold;
//     font-size: 20px;
//     line-height: 1.15;
//     text-align: center;
//     letter-spacing: 0.03em;
    
//     color: $title-color;
//     margin-bottom: 30px;
// }

// .modal-close-btn{
//     position: absolute;
//     top: 8px;
//     right: 8px;
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     background-color: transparent;
//     background-color: $white-color;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     box-sizing: border-box;
//     cursor: pointer;
// }

// .modal-close-btn-svg{
//     position: absolute;
//     top: 14px;
//     right: 14px;

//     width: 18px;
//     height: 18px;

//     transform: translate(50%, -50%);

//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover{
//         fill: $acent-color;
//     }
// }

// .modal-form-input-wrapper{
//     position: relative;
//     margin-bottom: 28px;
// }

// .modal-form-input{
//     height: 40px;
//     padding-left: 42px;

//     &:focus + .modal-form-lable,
//     &:not(:placeholder-shown) + .modal-form-lable{
//         transform: translate(-19px, -42px);
//         color: $acent-color;
//     }

//     &:focus ~ .modal-form-svg-person,
//     &:focus ~ .modal-form-svg-phone,
//     &:focus ~ .modal-form-svg-e-mail{
//         fill: $acent-color;
//     }
// }

// .modal-form-message{
//     height: 120px;
//     padding-top: 12px;
//     padding-right: 16px;
//     padding-bottom: 12px;
//     padding-left: 16px;
//     margin-bottom: 20px;
    
//     resize: none;

//     &:focus::placeholder {
//         color: $acent-color;
//     }
// }

// .modal-form-input,
// .modal-form-message{
//     display: block;
//     width: 448px;

//     font-family: $main-font;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.01em;

//     background-color: transparent;

//     border: 1px solid rgba(33, 33, 33, 0.2);
//     box-sizing: border-box;
//     border-radius: 4px;

//     cursor: pointer;
    
//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .modal-form-input:focus,
// .modal-form-message:focus,
// .modal-form-input:not(:placeholder-shown),
// .modal-form-message:not(:placeholder-shown){
//     outline: none;
//     border-color: $acent-color;
// }

// .modal-form-lable{
//     position: absolute;
//     top: 50%;
//     left: 42px;
//     transform: translateY(-50%);
//     font-family: $main-font;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.15;
//     letter-spacing: 0.01em;

//     color: $main-color;

//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .modal-form-option-label{
//     display: flex;
//     align-items: center;
//     margin-bottom: 30px;
// }

// .modal-form-svg-person{
//     position: absolute;
//     top: 50%;
//     left: 19px;

//     width: 12px;
//     height: 12px;

//     transform: translateY(-50%);
// }

// .modal-form-svg-phone{
//     position: absolute;
//     top: 50%;
//     left: 19px;

//     width: 13px;
//     height: 13px;

//     transform: translateY(-50%);
// }

// .modal-form-svg-e-mail{
//     position: absolute;
//     top: 50%;
//     left: 19px;

//     width: 15px;
//     height: 12px;

//     transform: translateY(-50%);
// }

// .modal-form-checkbox{
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;
//     clip: rect(0 0 0 0);
//     overflow: hidden;

//     &:checked + .modal-form-custom-checkbox{
//         border-color: $acent-color;
//         background-color: $acent-color;
//         background-origin: border-box;
//     }
// } 

// .modal-form-custom-checkbox{
//     position: relative;
//     display: inline-block;
//     width: 16px;
//     height: 15px;

//     border: 2px solid $title-color;
//     border-radius: 2px;    
//     margin-right: 8.4px;

//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .modal-form-checkbox-svg{
//     width: 15px;
//     height: 15px;
// }

// .modal-form-option-span{
//     font-family: $main-font;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;

//     color: $main-color;
// }

// .modal-form-option-link{
//     color: $acent-color;
// }

// .modal-form-button{
//     display: block;
//     margin-left: auto;
//     margin-right: auto;

//     width: 200px;
//     height: 50px;
//     background: $acent-color;
//     color: $white-color;

//     border-radius: 4px;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.87;

//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     margin-bottom: 40px;

//     cursor: pointer;

//     &:hover,
//     &:focus{
//         background: #188CE8;
//         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//         border-radius: 4px;
//     }
// }

// .is-hidden{
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//     transform: translateY(100%);
// }

.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
}

.modal-form{
    position: relative;
    top: 93px;
    width: 450px;
    height: 609px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;
}

.modal-form-tittle{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: $title-color;
    margin-bottom: 30px;
}

.modal-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    background-color: $white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}

.modal-close-btn-svg{
    position: absolute;
    top: 14px;
    right: 14px;

    width: 18px;
    height: 18px;

    transform: translate(50%, -50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        fill: $acent-color;
    }
}

.modal-form-input-wrapper{
    position: relative;
    margin-bottom: 28px;
}

.modal-form-input{
    height: 40px;
    padding-left: 42px;

    &:focus + .modal-form-lable,
    &:not(:placeholder-shown) + .modal-form-lable{
        transform: translate(-19px, -42px);
        color: $acent-color;
    }

    &:focus ~ .modal-form-svg-person,
    &:focus ~ .modal-form-svg-phone,
    &:focus ~ .modal-form-svg-e-mail{
        fill: $acent-color;
    }
}

.modal-form-message{
    height: 120px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    margin-bottom: 20px;
    
    resize: none;

    &:focus::placeholder {
        color: $acent-color;
    }
}

.modal-form-input,
.modal-form-message{
    display: block;
    width: 370px;

    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    background-color: transparent;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    cursor: pointer;
    
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-message:focus,
.modal-form-input:not(:placeholder-shown),
.modal-form-message:not(:placeholder-shown){
    outline: none;
    border-color: $acent-color;
}

.modal-form-lable{
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.01em;

    color: $main-color;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-option-label{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.modal-form-svg-person{
    position: absolute;
    top: 50%;
    left: 19px;

    width: 12px;
    height: 12px;

    transform: translateY(-50%);
}

.modal-form-svg-phone{
    position: absolute;
    top: 50%;
    left: 19px;

    width: 13px;
    height: 13px;

    transform: translateY(-50%);
}

.modal-form-svg-e-mail{
    position: absolute;
    top: 50%;
    left: 19px;

    width: 15px;
    height: 12px;

    transform: translateY(-50%);
}

.modal-form-checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked + .modal-form-custom-checkbox{
        border-color: $acent-color;
        background-color: $acent-color;
        background-origin: border-box;
    }
} 

.modal-form-custom-checkbox{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 2px solid $title-color;
    border-radius: 2px;    
    margin-right: 8.4px;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-svg{
    width: 15px;
    height: 15px;
    fill: $white-color;
}

.modal-form-option-span{
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $main-color;
}

.modal-form-option-link{
    color: $acent-color;
}

    .is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(100%);
    }


@media screen and (min-width: 1200px){

    .modal-form{
        width: 528px;
        height: 581px;
    }

    .modal-form-input,
    .modal-form-message{
        width: 448px;
    }
}



