    $main-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $title-color: #212121;
    $main-color: #757575;
    $acent-color: #2196F3;
    $white-color: #ffffff;
    $secondary-background-color: #F5F4FA;
    $footer-background-color: #2F303A;


